/* ==========================================================
   TORRE
========================================================== */

.painel-central{

    position:relative;

    display:flex;

    justify-content:center;

    align-items:center;

}

/* Halo luminoso atrás da torre */

.painel-central::before{

    content:"";

    position:absolute;

    width:620px;

    height:620px;

    border-radius:50%;

    background:
        radial-gradient(

            rgba(0,170,255,.18),

            rgba(0,170,255,.05),

            transparent

        );

    filter:blur(40px);

    z-index:0;

}

/* Torre */

#torreSVG{

    position:relative;

    z-index:1;

}